<html>
  <head>Login Page</head>
  <body>
    <form>
      <label for="userName">UserName</label> <br>
      <input type="text" name="userName" id="userName" [(ngModel)]="userName">
      <br>
      <label for="password">Password</label> <br> 
      <input type="text" name="password" id="password" [(ngModel)]="userPassword">
      <br><br>
      <input type="button" name="Login" id="userLogin" value="Login" (click)="login()">
    </form>
    <div>{{userName}}</div>
    {{userPassword}}
    <p>If your are not signed up. Click here</p>
    <a routerLink="/signup">SignUp</a>
  </body>
</html>
